.env
.coverage
.phpintel
.DS_Store
/bin
.idea
/core
composer.lock
/applications
/vendor
/build
/coverage
/servers/logs
/servers/php-fpm
/node_modules
/bower_components
/storages/cores
package-lock.json
